/*
@link: https://github.com/cyio/UserStyles/blob/master/oaker.dualx.deep.css
在原文件的基础上进行了部分改动
Sneezry
*/

/*
Dualx皮肤，酷黑
最后更新：2013-05-05
说明： 聊天窗口发送等按钮移至左侧。对登陆窗口的样式调整可能有问题，请根据需要取舍

背景 #32394a
文字 #c4ccda
悬浮/激活 #1c212a
搜索结果背景 #475068
边框线 #242a37
*/

::-webkit-scrollbar-thumb{
	background-color: #1c212a!important;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #4c515a!important;
}

* {
	font-family: "Microsoft Yahei Mono", "Microsoft Yahei","WenQuanYi Micro Hei Mono", "WenQuanYi Micro Hei", arial,sans-serif!important;
}

body, #footer, #list{
	background: #32394a!important;
}	

body{	
	background-image: none!important;	
	color:#c4ccda!important;
	overflow: hidden;
}

#searchBar {
	color:#c4ccda!important;
}

.friendInfo, #userName{
	font-size: 16px!important;
}

.friendName {
	height: 32px!important;
	line-height: 32px!important;
}

#userState {
	margin-top: 0px!important;
}

#userLevel{
	display:none!important;
}

#servicelink, #serviceLink a.qzone, #serviceLink a.mail, #serviceLink a.microblog {
	display:none!important;
}

#userMotto {
	border:none!important;
	color:gray!important;
	clear: none!important;
	max-width: 190px;
}

#userInfo {
	height:auto!important;
	text-shadow: none!important;
	min-width:150px!important;
	padding: 8px 10px 0px!important;
	min-height: 28px!important;
}

#searchBar {
	font-size: 14px!important;
}	

.tabs:hover, .tabactive, .friendDetail:hover, .qunDetail:hover, .recentDetail:hover, .friendDetail[selected=true]:hover, .qunDetail[selected=true]:hover, .recentDetail[selected=true] {
	background:#1c212a!important;
}

.groupName:hover {
	background:#1c212a url(images/groupsliststyle.png) no-repeat center left!important;
}

.searchResult:hover {
	background-color: #1c212a!important;
}

#list {
	min-width: 300px!important;
	padding: 2px 2px 90px 2px!important;
}

.searchResult {
	background-color:#32394a!important;
	font-size: 14px!important;
	border-bottom: 1px solid rgba(0,0,0,0.25)!important;
	border-right: 1px solid rgba(0,0,0,0.25)!important;
	border-top: 1px solid rgba(255,255,255,0.08)!important;
}

.friendDetail, .qunDetail, .groupName, .recentDetail{  
	border-bottom: 1px solid #242a37!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08)!important;
}

#searchListBorder{
	border:none!important;
}

.friendDetail[selected=true], .qunDetail[selected=true], .recentDetail[selected=true] {
	background: #1c212a!important;
}

.friendDetail {
	min-width: 280px!important;
}

.qunDetail {
	min-width: 280px!important;
}

#searchList {
	background:#475068!important;
	top: 75px!important;
}

li {
	padding: 0px!important;
}

#list {
	font-size: 14px!important;
}

.friendHead {
	width: 32px!important;
	height: 32px!important;
}

.friendHead img {
	width: 32px!important;
	height: 32px!important;
	border-radius: 3px!important;
	background: white!important;
}

.friendPersonal {
	display: none!important;
}

#toolBar, #buttonBar{
  background: #32394a!important;
  color: #c4ccda!important;
}

#buttonBar {
  padding:0px 10px!important;
}  

#inputBoxBg{
  background:white!important;
}

.buttonBarBtn {
  height:23px!important;
  font-size:14px!important;
  background: white!important;
  border: 1px solid #1c212a!important;
  color: #1c212a!important;
  text-shadow: 0 1px rgba(0,0,0,0.1)!important;
}

.buttonBarBtn:hover {
  background:#1c212a!important;
  color: #fff!important;
}

#toolFontStyleTab {
	background: #aaa!important;
}

#chatBox {
	color: black;
}